<.flash_group flash={@flash} />
  <p class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-zinc-900">
    <%= @message %>
  </p>
    <div id="container" class="h-310 w-800" data-serie={Jason.encode!(@serie)}></div>



